**/.DS_Store
C++Programs/ExceptionsHandlingInC++/ThrowExceptions
C++Programs/ExceptionsHandlingInC++/a.out
/build/
local.properties
gradle.properties
build
build.gradle
build/generated
build/intermediates
build/outputs
build/tmp
.idea/
/.idea
NDK_Sample001/.idea/misc.xml
